@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoLight";
  src: url("/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Title";
  src: url("/fonts/fonts.ttf");
}
@theme {
  --font-roboto: "Roboto";
  --font-inter: "Inter";
  --font-roboto-light: "RobotoLight";
  --color-accent-light: #c799f6;
  --color-accent: #c084fc;
  --color-accent-dark: #4b2273;
  --color-muted: #9ca3af;
}
.black-and-shadow {
  @apply drop-shadow-2xl drop-shadow-white/10 bg-black;
}
.font-title {
  @apply font-inter text-accent text-5xl font-extrabold;
}
.font-sub-title {
  @apply font-inter text-4xl font-extrabold;
}
.font-sub-sub-title {
  @apply font-inter text-2xl font-extrabold;
}
body {
  @apply font-inter text-muted tracking-wide;
}
.bg-accent-noise {
  background: url("/png/dots.png");
  background-size: contain;
  opacity: 0.2;
  mask-image: url(/svg/paper.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 70%;
}

/*#gradient {*/
/*  background:*/
/*          radial-gradient(circle at 20% 30%, red, transparent 70%) 0 0 / 30% 30% no-repeat,*/
/*          radial-gradient(circle at 80% 70%, blue, transparent 70%) 0 0 / 50% 50% no-repeat;*/

/*}*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c084fc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}